.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* spacing */
}

mat-grid-tile {
    width: 500px;
    height: 500px;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}