*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    background-color: #6f42c1;
}
.navbar ul li a{
    padding: 2px 10px;
    cursor: pointer;
    color: white;
    list-style: none;
    display: inline-block;
}
.navbar .btn{
    color: orange;
}
.sidebar {
    height: 100vh   ;
    width: 250px;
    background: #f0f0f0;
    padding: 20px;
    border-right: 2px solid #ddd;
}

.content {
    flex: 1;
    padding: 20px;
}
@media (max-width: 756px) {

    header nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
        padding: 15px 0;
    }

    /* Stack logo + menu vertically */
    header nav>div:first-child {
        flex-direction: column !important;
        text-align: center;
    }

    .logo {
        margin-right: 0 !important;
        margin-bottom: 10px;
    }

    
    /* Menu becomes vertical & centered */
    header nav ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 10px;
    }

    /* Icons aligned center */
    header nav>div:last-child ul {
        justify-content: center;
    }

    .btn {
        width: 100%;
        max-width: 150px;
        text-align: center;
    }
}