

.container {
    margin-top: 15px;
    max-width: 1200px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.container-fluid{
margin-top: 15px;
    max-width: 1200px;
    padding: 20px;
    border-radius: 8px;
        background-color: #f0f0f0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    flex-direction: column;
    /* stack vertically */
    gap: 10px;
    /* space between buttons */
}
.header .btn{
    width: 100px;
    
}

.card-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* x-offset, y-offset, blur, color */
  border-radius: 8px; /* optional rounded corners */
  padding: 20px;
  background-color: #fff; /* optional background */
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;  /* spacing between cards */
  padding: 20px;
}

.card-container .card1 {
min-height: 250px; /* at least this height, can grow with content */

  border: 2px solid white;
  padding: 20px;
  border-radius: 8px;  /* optional rounded corners */
}

.card-span-2 {
    grid-column: span 2;
    /* spans 2 columns */
}
.card-span-2 {
    grid-row: span 3;
    /* spans 2 columns */
}
.card-span-3{
    grid-column: span 3;
}

.card-span-6{
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    /* stack vertically */
    gap: 40px;
    /* space between buttons */
}
.card11{
width: 500px;
height: 300px;
}


 .card-container .card1 .card-body{
    border: 2px solid white;
    padding: 20px;
    border-radius: 8px;  /* optional rounded corners */
}