.training-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 4 equal columns */
    gap: 20px;
    /* space between cards */
}

.card-training {
    width: 200px;
    background: darkgrey;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.training-padding{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.card-training2{
    display: flex;
    justify-content: space-between;
    padding: 20px;
        align-items: center;
}

.calendar-header {
    max-width: 250px;
    margin: 10px auto;
    text-align: center;
}

.calendar-header h4 {
    font-size: 14px;
    /* decrease as needed */
    margin: 0;
}

.training{
    color: white;
}
i{
    color: white;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.image-left {
    width: 200px;
    height: auto;
    border-radius: 8px;
}
.bg-white{
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;}

@media (max-width: 768px) {
    .training-container{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .content {
        flex-direction: column;
        text-align: center;
    }

    .image-left {
        width: 100%;
    }
}